{% extends 'base.html' %}

{% block content  %}
    


<h2 class="wrestler"> Add New Match</h2>

<form action="/matches" method="POST">
    <div>

        <label for="wrestler_1">Wrestler 1 Name</label>
        <select name="wrestler1_id" id="wrestler1">
            {% for wrestler in wrestlers %}
                <option value="{{ wrestler.id}}">{{wrestler.name}}</option>
            {% endfor %}
        </select>
        <label for="wrestler_2">Wrestler 2 Name</label>
        <select name="wrestler2_id" id="wrestler2">
            {% for wrestler in wrestlers %}
                <option value="{{ wrestler.id}}">{{wrestler.name}}</option> 
            {% endfor %}
        </select>
        <label for="winner">Winner</label>
        <select name="winner" id="winner">
            {% for wrestler in wrestlers %}
                <option value="{{ wrestler.id}}">{{wrestler.name}}</option> 
            {% endfor %}
        </select>

        <input type="submit">

    </div>
</form>

{% endblock  %}
