{% extends 'base.html' %}

{% block content  %}
    


<h2 class=wrestler> Add New Match</h2>
<link rel="stylesheet" href="static/style.css">

<form action="/matches" method="POST">
    <div>
        <label for="wreslter_1">Wrestler 1 Name</label>
        <input type="text" id="wrestler_1" name="wrestler1_id">

        <label for="wrestler_2">Wrestler 2 Name</label>
        <input type="text" id="wrestler_2" name="wrestler2_id">

        <label for="winner">Winner</label>
        <input type="text" id="winner" name="winner">

        <input type="submit">

    </div>
</form>

{% endblock  %}
