{% extends 'base.html' %}

{% block content  %}
    


<h2 class=wrestler> Add New Match</h2>
<link rel="stylesheet" href="static/style.css">

<form action="/matches" method="POST">
    <div>
        <label for="name">Wrestler 1 Name</label>
        <input type="text" id="name" name="name">
        <label for="name">Wrestler 2 Name</label>
        <input type="text" id="name" name="name">
        <label for="name">Winner</label>
        <input type="text" id="name" name="name">


        <input type="submit">

    </div>
</form>

{% endblock  %}
