

<html lang="en">
    
    <head>
        <link rel="stylesheet" href="static/style.css">
        <title>SUPLEX CITY</title>
        
       

    </head>
    <body>
        <img class ="header" src="/static/images/main header.jpg" alt="HEADER">
        <h2>HOME OF WRESTLING RESULTS</h2>
        <a href="/">Home/</a>
        <a class=link href="/matches">Matches/</a>
        <a class=link href="/wrestlers">Wrestlers/</a>
        <a href="/wrestlers/new">Add New Wrestler/</a>
        <a href="wrestlers/update">Update Wrestler/</a>
        <a href="matches/new">Add New Match</a>
    </body>


{% block content %}


{% endblock content  %}
</html>
